
<h1>Scenes for <%= @request.title %> <span class="badge"><%= @scenes.count %></span></h1>

<% @scenes.each_with_index do |scene, i| %>
  
  <div class="row">
    <div class="col-sm-4 scene-image">
      <a href="#" class="thumbnail">
        <%= image_tag(scene.image_url) %>
      </a>
    </div>
  
    <div class="col-sm-8 scene-info">
      <h3>Scene number #<%=i%></h3>
      <h3>Comments</h3>
      <% scene.comments.each do |c| %>
      <%= c.comment %><br/>
      <% end %>
    </div>
    
  </div>

<%end%>