
<h1>  <%= @request.title %> for 
  <%= @request.coach.email if @request.coach %>
 <br/></h1> <br/>
<input type="hidden" id="request_id" value=<%="#{@request.id}"%>>
<div id="request_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Uploading the scene.</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row coach-container">
  <div class="col-md-6">
    <%= render 'layouts/video' %>
    <button id="snap" class="btn btn-success">Take screenshot</button>
  </div>
  <div class="col-md-6">
    <div id="l" class="literally">
    	<canvas id="b"></canvas>
    	<canvas id="c"></canvas>
    </div>
    <br>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" class="form-control comment-input" id="comment_box" placeholder="Enter comment">
      <input type="hidden" id="coach" placeholder="Enter comment" value="<%= @request.coach_id %>">
      <input type="hidden" id="user" placeholder="Enter comment" value="<%= @request.coach_id %>">
    </div>
    <form id="<%= IMGUR_CLIENT_ID %>" class="imgur-submit">
        <input type="submit" class="btn btn-submit" id="imgur" value="Save Scene">
        <input class="scene_url" type="hidden">
    </form>
  </div>
</div>







<%if user_signed_in? && @request.user == current_user %> 
<%= link_to 'Edit', edit_request_path(@request), class: "btn btn-warning" %> 

<%end%>

<div id = "scenes_list">
<hr/>
<h2>Scenes <%= link_to "All Scenes for this request", request_scenes_path(@request), class: "btn btn-warning" %></h2>
<%= render 'scenes_partial' %>
</div>