
<h1>  <%= @request.title %> for 
  <%= @request.coach.email %>
 <br/></h1> <br/>

<div id="request_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Uploading the scene.</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
  <div class="col-md-6">
    <video width="480" crossorigin="anonymous" id="v" controls="" loop="">  
    	<source src="<%= @request.movie_url %>" type="video/mp4"> 
      Format not supported
    </video> 
    <button id="snap" class="btn btn-success">Take screenshot</button>
  </div>
  <div class="col-md-6">
    <div id="l" class="literally">
    	<canvas id="b"></canvas>
    	<canvas id="c"></canvas>
    </div>
    <form id="<%= IMGUR_CLIENT_ID %>" class="imgur-submit">
        <input type="submit" class="btn btn-submit" id="imgur" value="Save Scene">
        <input class="scene_url" type="hidden">
    </form>
  </div>
</div>







<%if user_signed_in? && @request.user == current_user %> 
<%= link_to 'Edit', edit_request_path(@request), class: "btn btn-warning" %> 

<%end%>

