<p id="notice"><%= notice %></p>

<video id="v" controls="" loop=""> 
	<source src="<%= image_path("video.webm") %>" type="video/webm"> 
	<source src="<%= image_path("video.ogg") %>" type="video/ogg"> 
	<source src="<%= image_path("video.mp4") %>" type="video/mp4"> 
</video> 
<div id="l" class="literally">
	<canvas id="b"></canvas>
	<canvas id="c"></canvas>
</div>
<form id="<%= IMGUR_CLIENT_ID %>" class="imgur-submit">
    <input type="submit" data-action="upload-to-imgur" value="Upload to Imgur">
</form>
<button id="snap">Take screenshot</button>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Movie url:</strong>
  <%= @request.movie_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @request.coach_id %>
</p>


<%if user_signed_in? && @request.user == current_user %> 
<%= link_to 'Edit', edit_request_path(@request) %> 
<%end%>